// Add your styles here
.container {
  border: dashed 2px red;
  display: flex;
  height: 100vh;
  // justify-content: center;
  justify-content: space-between;
  // justify-content: space-around;
  // justify-content: space-evenly;
  // justify-content: flex-end;
  flex-wrap: wrap;
  // flex-direction: column;
  align-items: center;
  align-content: center;
  > div {
    background: #373142;
    color: #fff;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    &:nth-child(2) {
      height: 150px;
      // line-height: 120px;
    }
  }
}